[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	name = Vo Quang Chien
	email = 2giosangmitom@proton.me
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
