@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "JetBrainsMono Nerd Font";
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background: @base;
  border-radius: 5px;
  padding: 0 10px;
}

tooltip label {
  color: @text;
}

.module {
  margin: 5px 5px;
  background: @base;
  border-radius: 5px;
  padding: 5px 8px;
}

#workspaces button {
  padding: 0 5px;
  color: @text;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.visible {
  color: @text;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.persistent {
  color: @blue;
}
